<h2>Volunteer Status<h2>
<hr>
<h2>Name: <%= @found_volunteer.name %></h2>

<% if @proj_title  == nil %>
  <h3>Project: <em><%= @found_volunteer.name %></em> doesn't have a project yet.</h3>
<% else %>
  <h3>Project: <%= @proj_title %></h3>
<% end %>
