<h3>Project Status<h3>
<hr>
<h2> Title: <b class="green_text"><%= @found_proj.title %></b></h2>

<% if @vol_name == nil %>
  <h4>("<em><%= @found_proj.title %>"</em> - doesn't have any volunteers yet)</h4>
<% else %>
  <h3>Volunteers on this project</h3>
  <ul>
    <% @volunteers_list.each do |vol| %>
    <li> <%= vol.name %> </li>
    <% end %>
  </ul>
<% end %>

<br>
<br>
<div class="center">
  <a href="/delete/<%=@found_proj.id%>"><button class="btn btn-warning">Remove Project</button></a>
  <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>
