<h3>Welcome to the volunteer admin page</h3>
<br>
<br>

<div class="container">

  <div class="row">
    <div id="home_col_1" class="col-sm-6">
      <img src="/img/volunteers.jpg" alt="planting a tree" style="max-height: 350px"/>
      <br>
      <br>
      <h3><a href="/volunteers_home">view/add volunteers</a></h3>
    </div>
    <div id="home_col_2" class="col-sm-6">
      <img src="/img/planting.jpg" alt="voluteers" style="max-height: 350px"/>
      <br>
      <br>
      <h3><a href="/projects_home">view/add projects</a></h3>
    </div>
  </div>

</div>
