<h3>Welcome to the volunteer admin page</h3>
<br>
<br>
<div class="row">

  <div class="col-sm-6">
    <form action="/new_project" method="post">
      <div class="form-group">
        <label for="title">New project</label>
        <input name="title" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-info">Add Project</button>
    </form>
  </div>

  <div class="col-sm-6">
    <form action="/new_volunteer" method="post">
      <div class="form-group">
        <label for="name">New volunteer</label>
        <input name="name" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-success">Add volunteer</button>
    </form>
  </div>

</div>
