<div class="row">
  <div class="col-sm-6">
    <form action="/new_project" method="post">
      <div class="form-group">
        <label for="title">New project</label>
        <input name="title" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-info">Add project</button>
      <br>
      <br>
    </form>
    <a href="/" class="home">Home</a>
  </div>
  <div class="col-sm-6">
    <h3>Current Projects</h3>
    <ul>
      <% @all_projects.each do |proj| %>
      <li><a href="/projects/<%=proj.id%>"><%= proj.title %><a/></li>
      <% end %>
    </ul>
  </div>
</div>
