<h3>Success</h3>

<h3>Project: <%= @found_proj %></h3>
<br>
<h3>... was added to the volunteer: <%= @found_volunteer %> </h3>

<a href="/" class="center"><button class="btn btn-default">Return Home</button></a>
