<h3>Success</h3>

<h3>"<%= @found_proj.title %>"</h3>
<h3>... was added to the volunteer: "<%= @found_volunteer.name %>" </h3>

<a href="/" class="center"><button class="btn btn-default">Return Home</button></a>
