<h3>Success</h3>

<h3>"<%= @found_proj.title %>"</h3>
<h3>... was added to the volunteer: "<%= @found_volunteer.name %>" </h3>

<div class="center">
    <a href="/volunteers/<%= @found_volunteer.id %>"><button class="btn btn-info">Back to last vounteer</button></a>
</div>
<br>
<div class="center">
    <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>
