<h1>Volunteers Home</h1>
<div class="row">
  <div class="col-sm-6">
    <form action="/new_volunteer" method="post">
      <div class="form-group">
        <label for="name">New volunteer</label>
        <input name="name" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-success">Add volunteer</button>
      <br>
      <br>
    </form>
    <a href="/"><button class="btn btn-default">Return Home</button></a>
  </div>
  <div class="col-sm-6">
    <h3 class="center">Active volunteers:</h3>
    <ul>
      <% @all_volunteers.each do |vol| %>
      <li><a href="/volunteers/<%=vol.id%>"><%= vol.name %><a/></li>
      <% end %>
    </ul>
  </div>
</div>
